<h2>article name :<%= @article.title %></h2>
<p style="color:blue;">  body:<%= @article.body %></p>
<p> published_date<%= @article.published_date %></p>
<%= link_to "list articles", articles_path %>
<%= link_to "edit", edit_article_path %>
<!-- Category.find(@article.category_id).name %>  without using association-->
<% @article.category.each do |name| %>
<%= category.name %>
<% end %>


<%= link_to "destroy", article_path(@article.id), method: :delete, data: {confirm: "are you sure?"} %>

<%= form_for @comment do |comment| %>

<label> Comment :</label>
<%= comment.text_area :comment %><br /><br />
<label> published_date :</label>
<%= comment.date_select :published_date %><br /><br />
<%= comment.hidden_field :article_id, value: @article.id %>

<%= comment.submit "add comment" %>
<% end %>


<% @article.comments.each do |comment| %>
<%= comment.user.email%>
<%= comment.comment %>
<%= comment.published_date %>
<% if user_signed_in?  && @comment.user_id == current_user.id%>
<%= link_to "edit", edit_comment_path(comment.id) %>
<%= link_to "delete", article_path %>
<% end %>
<% end %>