<p id="notice"><%= notice %></p>

<h1>Listing Instructors</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Bio</th>
      <th>courses</th>
      <th>publications</th>
      <th>actions</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.name %></td>
        <td><%= instructor.mobile %></td>
        <td><%= instructor.bio %></td>
        <td><% instructor.courses.each do |course| %>
        <%= link_to course.name, course %>

        <% end %></td>
        <td><%= instructor.publications.count %></td>
        <td><%= link_to 'Show', instructor %>
        <%= link_to 'Edit', edit_instructor_path(instructor) %>
        <%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>
